In [1]:
import pandas as pd
import numpy as np
from pprint import pprint

from data import Mushrooms_dataset
from train_test_split import TrainTestSplit
from gini import Gini

## Split data into train and test

In [2]:
# Import primary_data dataset
path = 'Datasets'

data = Mushrooms_dataset(path)

df_mushrooms = data.dataset

In [3]:
df_mushrooms.head(5)

,class,cap-diameter,cap-shape,cap-surface,cap-color,does-bruise-or-bleed,gill-attachment,gill-spacing,gill-color,stem-height,...,stem-root,stem-surface,stem-color,veil-type,veil-color,has-ring,ring-type,spore-print-color,habitat,season
0,p,15.26,x,g,o,f,e,na,w,16.95,...,s,y,w,u,w,t,g,na,d,w
1,p,16.60,x,g,o,f,e,na,w,17.99,...,s,y,w,u,w,t,g,na,d,u
2,p,14.07,x,g,o,f,e,na,w,17.80,...,s,y,w,u,w,t,g,na,d,w
3,p,14.17,f,h,e,f,e,na,w,15.77,...,s,y,w,u,w,t,p,na,d,w
4,p,14.64,x,h,o,f,e,na,w,16.53,...,s,y,w,u,w,t,p,na,d,w

In [4]:
# Split dataset into traint_set adn test_set
train_set, test_set = TrainTestSplit(data = df_mushrooms, test_size = 0.3, seed = 0).split()

In [5]:
train_set.head(5)

,class,cap-diameter,cap-shape,cap-surface,cap-color,does-bruise-or-bleed,gill-attachment,gill-spacing,gill-color,stem-height,...,stem-root,stem-surface,stem-color,veil-type,veil-color,has-ring,ring-type,spore-print-color,habitat,season
0,p,15.26,x,g,o,f,e,na,w,16.95,...,s,y,w,u,w,t,g,na,d,w
2,p,14.07,x,g,o,f,e,na,w,17.80,...,s,y,w,u,w,t,g,na,d,w
3,p,14.17,f,h,e,f,e,na,w,15.77,...,s,y,w,u,w,t,p,na,d,w
5,p,15.34,x,g,o,f,e,na,w,17.84,...,s,y,w,u,w,t,p,na,d,u
6,p,14.85,f,h,o,f,e,na,w,17.71,...,s,y,w,u,w,t,g,na,d,w

In [6]:
test_set.head(5)

,class,cap-diameter,cap-shape,cap-surface,cap-color,does-bruise-or-bleed,gill-attachment,gill-spacing,gill-color,stem-height,...,stem-root,stem-surface,stem-color,veil-type,veil-color,has-ring,ring-type,spore-print-color,habitat,season
55340,e,4.71,o,l,n,f,f,f,f,8.02,...,na,na,n,na,na,f,f,g,d,u
25247,e,15.24,x,t,n,f,a,d,k,8.43,...,na,na,w,na,na,f,f,w,d,w
49673,e,5.24,x,d,n,t,p,na,y,6.46,...,na,na,y,na,na,f,f,na,d,a
58343,e,52.81,o,y,y,f,p,na,y,7.84,...,na,k,k,na,na,f,f,na,d,u
27562,p,5.05,s,d,e,t,d,c,w,5.89,...,na,na,n,na,na,f,f,na,d,a

In [7]:
print("train_set:")
print(f"p: {train_set['class'][train_set['class'] == 'p'].count()}")
print(f"e: {train_set['class'][train_set['class'] == 'e'].count()}")

print("test_set:")
print(f"p: {test_set['class'][test_set['class'] == 'p'].count()}")
print(f"e: {test_set['class'][test_set['class'] == 'e'].count()}")

train_set:
p: 23715
e: 19033
test_set:
p: 10173
e: 8148

## Functions

In [8]:
data = train_set
data.head(5)

,class,cap-diameter,cap-shape,cap-surface,cap-color,does-bruise-or-bleed,gill-attachment,gill-spacing,gill-color,stem-height,...,stem-root,stem-surface,stem-color,veil-type,veil-color,has-ring,ring-type,spore-print-color,habitat,season
0,p,15.26,x,g,o,f,e,na,w,16.95,...,s,y,w,u,w,t,g,na,d,w
2,p,14.07,x,g,o,f,e,na,w,17.80,...,s,y,w,u,w,t,g,na,d,w
3,p,14.17,f,h,e,f,e,na,w,15.77,...,s,y,w,u,w,t,p,na,d,w
5,p,15.34,x,g,o,f,e,na,w,17.84,...,s,y,w,u,w,t,p,na,d,u
6,p,14.85,f,h,o,f,e,na,w,17.71,...,s,y,w,u,w,t,g,na,d,w

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42748 entries, 0 to 61068
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   class                 42748 non-null  object
 1   cap-diameter          42748 non-null  float64
 2   cap-shape             42748 non-null  object
 3   cap-surface           42748 non-null  object
 4   cap-color             42748 non-null  object
 5   does-bruise-or-bleed  42748 non-null  object
 6   gill-attachment       42748 non-null  object
 7   gill-spacing          42748 non-null  object
 8   gill-color            42748 non-null  object
 9   stem-height           42748 non-null  float64
 10  stem-width            42748 non-null  float64
 11  stem-root             42748 non-null  object
 12  stem-surface          42748 non-null  object
 13  stem-color            42748 non-null  object
 14  veil-type             42748 non-null  object
 15  veil-color            42748 non-null  object
 16  has-ring              42748 non-null  object
 17  ring-type             42748 non-null  object
 18  spore-print-color     42748 non-null  object
 19  habitat               42748 non-null  object
 20  season                42748 non-null  object
dtypes: float64(3), object(18)
memory usage: 7.2+ MB

### Leaf flag

In [10]:
def is_leaf (data):
    
    label_column = data[:, 0]
    unique_classes = np.unique(label_column)

    if len(unique_classes) == 1:
        return True
    else:
        return False

In [11]:
is_leaf(data[data['class'] == 'p'].values)

True

In [12]:
is_leaf(data[data['class'] == 'e'].values)

True

### Classification

In [13]:
unique_values, counts = np.unique(data.iloc[:, 0].values, return_counts=True)
for value, count in zip(unique_values, counts):
    print(f"{value}: {count}")

e: 19033
p: 23715

In [14]:
def classify_data(data):
    
    label_column = data[:, 0]
    unique_classes, count_unique_classes = np.unique(label_column, return_counts=True)

    index = count_unique_classes.argmax()
    classification = unique_classes[index]
    
    return classification

In [15]:
classify_data(data.values)

'p'

### Attribute types

In [16]:
data.nunique()

class                      2
cap-diameter            2380
cap-shape                  7
cap-surface               12
cap-color                 12
does-bruise-or-bleed       2
gill-attachment            8
gill-spacing               4
gill-color                12
stem-height             2067
stem-width              4286
stem-root                  6
stem-surface               9
stem-color                13
veil-type                  2
veil-color                 7
has-ring                   2
ring-type                  9
spore-print-color          8
habitat                    8
season                     4
dtype: int64

In [17]:
def attribute_type(data):
    
    attribute_types = []
    treshold = 20

    _, n_columns = data.shape
    
    for column_index in range(0, n_columns):
        values = data[:, column_index]
        unique_values = len(set(values))
        first_value = values[0]
        
        if (isinstance(first_value, str)) or (unique_values <= treshold):
            attribute_types.append("categorical")
        else:
            attribute_types.append("continuous")
    
    return attribute_types

In [18]:
attribute_type(data.values)

['categorical',
 'continuous',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'continuous',
 'continuous',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical']

### Potential splits

In [19]:
def get_potential_splits(data):
    
    potential_splits = {}
    _, n_columns = data.shape
    for column_index in range(1, n_columns):        # excluding the last column which is the label
        potential_splits[column_index] = []
        values = data[:, column_index]
        unique_values = np.unique(values)

        for index in range(len(unique_values)):
            if index != 0:
                current_value = unique_values[index]
                previous_value = unique_values[index - 1]
                potential_split = (current_value + previous_value) / 2
                
                potential_splits[column_index].append(potential_split)
    
    return potential_splits

In [20]:
get_potential_splits(data.values) # The error is because I have numerical and categorical attributes

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [21]:
def get_potential_splits(data):
    potential_splits = {}
    
    _, n_columns = data.shape
    
    for column_index in range(1, n_columns):
        values = data[:, column_index]
        unique_values = np.unique((values[values != "na"]))

        potential_splits[column_index] = unique_values
        
    return potential_splits

In [22]:
get_potential_splits(data.values) # Here I can see all possible attributes for splitting (excluding the class)

{1: array([0.38, 0.44, 0.47, ..., 58.89, 59.46, 62.34], dtype=object),
 2: array(['b', 'c', 'f', 'o', 'p', 's', 'x'], dtype=object),
 3: array(['d', 'e', 'g', 'h', 'i', 'k', 'l', 's', 't', 'w', 'y'],
       dtype=object),
 4: array(['b', 'e', 'g', 'k', 'l', 'n', 'o', 'p', 'r', 'u', 'w', 'y'],
       dtype=object),
 5: array(['f', 't'], dtype=object),
 6: array(['a', 'd', 'e', 'f', 'p', 's', 'x'], dtype=object),
 7: array(['c', 'd', 'f'], dtype=object),
 8: array(['b', 'e', 'f', 'g', 'k', 'n', 'o', 'p', 'r', 'u', 'w', 'y'],
       dtype=object),
 9: array([0.0, 0.97, 1.09, ..., 33.03, 33.25, 33.72], dtype=object),
 10: array([0.0, 0.52, 0.53, ..., 98.0, 102.48, 103.91], dtype=object),
 11: array(['b', 'c', 'f', 'r', 's'], dtype=object),
 12: array(['f', 'g', 'h', 'i', 'k', 's', 't', 'y'], dtype=object),
 13: array(['b', 'e', 'f', 'g', 'k', 'l', 'n', 'o', 'p', 'r', 'u', 'w', 'y'],
       dtype=object),
 14: array(['u'], dtype=object),
 15: array(['e', 'k', 'n', 'u', 'w', 'y'], dtype=object),
 16: array(['f', 't'], dtype=object),
 17: array(['e', 'f', 'g', 'l', 'm', 'p', 'r', 'z'], dtype=object),
 18: array(['g', 'k', 'n', 'p', 'r', 'u', 'w'], dtype=object),
 19: array(['d', 'g', 'h', 'l', 'm', 'p', 'u', 'w'], dtype=object),
 20: array(['a', 's', 'u', 'w'], dtype=object)}

### Split

In [23]:
def split_data(data, split_column, split_value):
    
    split_column_values = data[:, split_column]

    type_attribute = attribute_type(data)
    
    type_of_attribute = type_attribute[split_column]

    if type_of_attribute == "continuous":
        left_split = data[split_column_values <= split_value]
        right_split = data[split_column_values >  split_value]

    else:
        left_split = data[split_column_values == split_value]
        right_split = data[split_column_values !=  split_value]
    
    return left_split, right_split

In [24]:
 split_data(data.values, 1, 10) # Just trying an example to see if it works

(array([['p', 6.87, 'x', ..., 'na', 'd', 'a'],
        ['p', 5.95, 'p', ..., 'na', 'd', 'u'],
        ['p', 7.06, 'p', ..., 'na', 'd', 'u'],
        ...,
        ['p', 1.27, 's', ..., 'na', 'd', 'u'],
        ['p', 1.24, 'f', ..., 'na', 'd', 'u'],
        ['p', 1.17, 's', ..., 'na', 'd', 'u']], dtype=object),
 array([['p', 15.26, 'x', ..., 'na', 'd', 'w'],
        ['p', 14.07, 'x', ..., 'na', 'd', 'w'],
        ['p', 14.17, 'f', ..., 'na', 'd', 'w'],
        ...,
        ['p', 11.76, 'o', ..., 'na', 'd', 'u'],
        ['p', 10.4, 'o', ..., 'na', 'd', 'u'],
        ['p', 10.75, 'o', ..., 'na', 'd', 'u']], dtype=object))

### Gini

In [25]:
label_column = data.iloc[:, 0]
    
_, counts = np.unique(label_column, return_counts=True)

counts

array([19033, 23715], dtype=int64)

In [26]:
label_column = data.iloc[:, 0]
    
_, counts = np.unique(label_column, return_counts=True)

p = counts/counts.sum()

p

array([0.4452372, 0.5547628])

In [27]:
1 - np.sum(p ** 2)

0.49400207236598814

In [28]:
def gini_function(data):
    
    label_column = data[:, 0]
    
    _, counts = np.unique(label_column, return_counts=True)

    total_count = len(label_column)
    
    p = counts / total_count
    
    gini = 1 - np.sum(p ** 2)
     
    return gini

In [29]:
gini_function(data.values)

0.49400207236598814

In [30]:
# Try to get an overall gini
data_below, data_above = split_data(data.values, 1, 10)
n = len(data_below) + len(data_above)
n

42748

In [31]:
p_left = len(data_below) / n
p_right = len(data_above) / n

print(f"data_below: {p_left}")
print(f"data_above: {p_right}")

data_below: 0.8352203611864882
data_above: 0.16477963881351174

In [32]:
left =  p_left * gini_function(data_below)
print(f"gini: {gini_function(data_below)}")
left

gini: 0.4875764865587138

0.40723380920960783

In [33]:
right =  p_right * gini_function(data_above)
print(f"gini: {gini_function(data_above)}")
right

gini: 0.49098193040516636

0.08090382515612407

In [34]:
left+right

0.4881376343657319

In [35]:
def overall_gini (data_below, data_above):

        n = len(data_below) + len(data_above)
        p_left = len(data_below) / n
        p_right = len(data_above) / n
        
        overall_gini =  (p_left * gini_function(data_below) + p_right * gini_function(data_above))
        
        return overall_gini

In [36]:
overall_gini(data_below, data_above)

0.4881376343657319

### Best Split

In [37]:
def best_split(data, potential_splits):
        
        base_gini = float('inf')

        for column_index in potential_splits:
            for value in potential_splits[column_index]:
                
                left_leaf, right_leaf = split_data(data, split_column=column_index, split_value=value)  
                
                current_overall_gini = overall_gini(left_leaf, right_leaf)

                if current_overall_gini <= base_gini:
                    base_gini = current_overall_gini
                   
                    best_attribute = column_index
                    best_value = value
        
        return best_attribute, best_value, current_overall_gini

### Tree algorithm

In [38]:
def tree_predictor(data, counter, min_samples, max_depth):

    # data preparations
    if counter == 0:
        global column_names, type_attribute
        column_names = data.columns
        type_attribute = attribute_type(data.values)
        data = data.values
    else:
        data = data

    n_sample = len(data)
        
    # Stop criterias
    if (is_leaf(data)) or (len(data) < min_samples) or (counter == max_depth):
        classification = classify_data(data)
            
        return classification

        
    # Recursive part
    else:    
        counter += 1

        potential_splits = get_potential_splits(data)
        best_criteria, threshold, gini = best_split(data, potential_splits)
        left_split, right_split = split_data(data, best_criteria, threshold)
            
        # Control of empty data after split
        if len(left_split) == 0 or len(right_split) == 0:
            classification = classify_data(data)

            return classification
            
        # Question
        attribute_name = column_names[best_criteria]
        type_of_attribute = type_attribute[best_criteria]
            
        if type_of_attribute == "continuous":
            question = "{} <= {} (gini: {}, n: {})".format(attribute_name, threshold, gini, n_sample)
                
        # If feature is categorical
        else:
            question = "{} = {} (gini: {}, n: {})".format(attribute_name, threshold, gini, n_sample)
            
        # Instantiate sub-tree
        sub_tree = {question: []}

        # Find answers (recursion)
        yes = tree_predictor(left_split, counter, min_samples, max_depth)
        no = tree_predictor(right_split, counter, min_samples, max_depth)
            
        # If the answers are the same, then there is no point in asking the qestion.
        # This could happen when the data is classified even though it is not pure
        # yet (min_samples or max_depth base case).
        if yes == no:
            sub_tree = yes
        else:
            sub_tree[question].append(yes)
            sub_tree[question].append(no)
            
        return sub_tree

In [ ]:
tree = tree_predictor(train_set, counter = 0, min_samples = 300, max_depth = 5)

In [ ]:
pprint(tree)

In [ ]:
node = list(tree.keys())[0]

In [ ]:
attribute, comparison, value, gini_str, gini, n_sample_str, n_sample = node.split(" ")

In [ ]:
test = test_set
test[attribute]

In [ ]:
test_att = test[attribute]

In [ ]:
test_att <= float(value)

In [ ]:
tree[node][0]

In [ ]:
tree[node][1]

In [ ]:
test_example = test_set.iloc[0]
test_example

In [ ]:
def test_classification(test, tree):
    question = list(tree.keys())[0]
    attribute, comparison, value, gini_str, gini, n_sample_str, n_sample = question.split(" ")

    # ask question
    if comparison == "<=":
        if test[attribute] <= float(value):
            answer = tree[question][0]
        else:
            answer = tree[question][1]
    
    # feature is categorical
    else:
        if str(test[attribute]) == value:
            answer = tree[question][0]
        else:
            answer = tree[question][1]

    # base case
    if not isinstance(answer, dict):
        return answer
    
    # recursive part
    else:
        residual_tree = answer
        return test_classification(test, residual_tree)

In [ ]:
test_classification(test_example, tree)

In [ ]:
def tree_accuracy(test_set, tree):

    test_set["classification"] = test_set.apply(test_classification, axis=1, args=(tree,))
    test_set["classification_correct"] = test_set["classification"] == test_set["class"]
    
    accuracy = test_set["classification_correct"].mean()
    
    return accuracy

In [ ]:
accuracy = tree_accuracy(test_set, tree)
accuracy